/* Styles */

/**
 *
 * Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 */

 html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --pomodoro: rgba(100, 10, 0, 0.7);
  --shortBreak: rgba(50, 31, 7, 0.7);
  --longBreak: rgba(04, 62, 28, 0.7);
}

body {
  background-color: var(--pomodoro);
  transition: background-color 1s ease;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
  width: 100%;
  height: 100vh;
  overflow: auto;
  user-select: none; /* Prevents user from selecting text on the app */
}

.app {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mode-button {
  font-size: 16px;
  height: 28px;
  cursor: pointer;
  box-shadow: none;
  font-weight: 300;
  color: #fff;
  border: 1px solid transparent;
  margin: 0px;
  border-radius: 4px;
  padding: 2px 12px;
  background: none;
}

.mode-button.active {
  border-color: #fff;
}

.time-circle {
  box-sizing: border-box;
  position: relative;
  height: 200px;
  width: 200px;
  padding: 20px;
  margin: 4rem auto;
  background: beige;
  background-clip: content-box;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 20px transparent, 0px 0px 0px 20px beige;
  opacity: 0.8;
}

.time-circle::before {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  text-align: center;
  line-height: 200px;
  border-radius: 50%;
  /* z-index: 4; */
}

.same {
  position: absolute;
  height: 50%;
  width: 50%;
  background: beige;
  border-radius: 0%;
}

.quad1 {
  top: 0px;
  left: 50%;
  transform-origin: left bottom;
  transform: skew(90deg);
  /* negative */
}

.quad2 {
  top: 50%;
  left: 50%;
  transform-origin: left bottom;
  transform: skewY(0deg);
}

.quad3 {
  top: 50%;
  left: 0%;
  transform-origin: right top;
  transform: skew(0deg);
  /* negative */
}

.quad4 {
  top: 0%;
  left: 0%;
  transform-origin: right bottom;
  transform: skewY(0deg);
}

.clock {
  margin-top: 50px;
  font-size: 3rem;
  line-height: 1;
  display: flex;
  margin-left: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
  position: relative;
}

.start-button {
  cursor: pointer;
  box-shadow: rgb(235, 235, 235) 0px 6px 0px;
  font-size: 22px;
  height: 55px;
  text-transform: uppercase;
  color: hsl(175, 26%, 41%);
  font-weight: bold;
  width: 200px;
  background-color: white;
  border-width: initial;
  border-style: none;
  padding: 0px 12px;
  border-radius: 10px;
  transition: color 0.5s ease-in-out 0s;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
}

button:focus,
button:active {
  outline: none;
}

/*Button goes down by `6px` when active class is toggled */
.start-button.active, .ask-button.active {
  transform: translateY(6px);
  box-shadow: none;
  outline: none;
}

.hidden {
  display: none;
}

p {
  color: white;
  margin: 1rem auto;
  font-size: 0.7rem;
}



/* End **********************************************
*****P******O******M******O******D******R******O*********
/